<footer class="footer">
      <div class="container">
      <a href="">Github Project</a> &nbsp;
      <a href="">Issues</a>
        <span class="text-muted float-right">&copy;2019 CompanyName, Inc. All Rights Reserved.</span>
      </div>
    </footer>
  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/fontawesome.min.js"></script>
</body>
</html>