<%- include('includes/header') %>
<%- include('includes/navbar') %>
<!-- Begin page content -->
<main role="main" class="container">
  <h1 class="mt-5">A Boilerplate For Node.js Web Applications.</h1>
  <p class="lead">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum saepe nemo magnam vero quis ex, molestiae facere odit earum eligendi quod in suscipit hic ipsam quibusdam ab dignissimos quam quo, exercitationem ratione et iste? Optio tempore consectetur aspernatur itaque sed non, cum, aut odio debitis a sunt officiis iste dicta! Pin a fixed-height footer to the bottom of the viewport in desktop browsers
    with this custom HTML and CSS. A fixed navbar has been added with
    <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.
  </p>
  <p>
    Back to <a href="#">the default sticky footer</a> minus the
    navbar.
  </p>
</main>
<%- include('includes/footer') %>
